.heading
{
    top:0px;
    border-color:yellow;
    border-width: 10px;
    width: 100%;
}
#header
{
    float:left;
    display: inline;
}
body
{
    background: url("background1.jpg");
    background-size: 100%;
}
.pingpong_int
{
    margin-top:5px;
    margin-left:800px;
    font-size: 28px;
    height: fit-content;
    width:fit-content;
    background-color: orange;
    border-color: white;
    border-width: 4px;
}
.modal-dialog
{
    width:90%;
}
.start
{
    font-size: 18px;
    width: fit-content;
    height:fit-content;
}
video
{
    margin-bottom: 6%;
}